.widgets {
	width: 350px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.widgets-tittle {
	h3 {
		color: rgb(58, 58, 58);
		font-size: x-large;
	}
	margin-bottom: 15px;
}
