.main {
	width: 100%;
	justify-content: center;
	margin: 30px;
}

.main-container {
	transition: width 1s ease;
	width: 680px;
	height: auto;
	margin: auto;
	flex-direction: column;

	@media only screen and (max-width: 860px) {
		width: 600px;
		transform: translateX(-30px);
	}
	@media only screen and (max-width: 760px) {
		width: 500px;
	}
	@media only screen and (max-width: 660px) {
		width: 400px;
	}
}
