.calltoaction {
	position: relative;
	z-index: 999;
	display: flex;
	flex-direction: column;
	width: 300px;
	color: rgb(47, 47, 47);
	margin-top: 250px;
	transform: scale(1.4);
	@media only screen and (max-width: 1300px) {
		transform: scale(1.3);
	}
	@media only screen and (max-width: 1150px) {
		transform: scale(1.2);
		align-items: center;
		margin-top: 600px;
		text-align: center;
		width: 450px;
	}

	@media only screen and (max-width: 600px) {
		margin-top: -10px;
		transform: scale(1);
	}
}

.calltoaction-time {
	font-size: 30px;
	font-weight: 500;
	p {
		@media only screen and (max-width: 600px) {
			color: white !important;
		}
	}
}

.calltoaction-tittle {
	font-size: 24px;
	font-weight: 500;
	margin: 10px 0;
	letter-spacing: 1.2px;
}

.calltoaction-text {
	font-size: 18px;
}

.calltoaction-btn {
	margin-top: 45px;
	font-size: 16px;
	font-weight: 600;
	border: none;
	width: 180px;
	padding: 15px 20px;
	border-radius: 25px;
	color: white;
	@media only screen and (max-width: 1150px) {
		margin-top: 15px;
	}
	@media only screen and (max-width: 600px) {
	}
	transition: transform ease 0.5s;
	box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.3);
}

.calltoaction-btn:hover {
	transition: transform ease 0.5s;
	transform: scale(1.1);
	-webkit-box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.4);
	box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.4);
}

.calltoaction-btn:active {
	transform: scale(1.05);
	box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.35);
}
