.foodTable {
	display: flex;
	position: absolute;
	margin-top: 350px;
	left: 65%;
	flex-direction: column;
	transform: scale(1.2);

	@media only screen and (max-width: 1150px) {
		transform: scale(1.1);
		margin-top: 320px;
		left: 50%;
	}

	@media only screen and (max-width: 600px) {
		margin-top: 550px;
		transform: scale(0.8);
	}

	@media only screen and (max-width: 450px) {
		transform: scale(0.7);
		margin-top: 500px;
	}

	@media only screen and (max-width: 385px) {
		transform: scale(0.65);
	}

	@media only screen and (max-width: 355px) {
		transform: scale(0.6);
	}
}

.foodTable-big-circle {
	position: absolute;
	height: 72vw;
	width: 72vw;
	bottom: 0;
	left: 100%;
	transform: translateX(-50%);
	border-radius: 50%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	overflow: hidden;
	transition: background-color ease 0.5s;
	-webkit-box-shadow: 9px -4px 31px -11px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 9px -4px 31px -11px rgba(0, 0, 0, 0.75);
	box-shadow: 9px -4px 31px -11px rgba(0, 0, 0, 0.75);
	@media only screen and (max-width: 1150px) {
		min-height: 1200px;
		min-width: 1200px;
	}
	@media only screen and (max-width: 600px) {
		min-height: 1500px;
		min-width: 1500px;
	}
}

.foodTable-mainplate {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(50%, 50%);
	width: 250px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	img {
		cursor: pointer;
		width: 250px;
		border-radius: 50%;
		-webkit-box-shadow: 4px 4px 33px -1px rgba(0, 0, 0, 0.24);
		-moz-box-shadow: 4px 4px 33px -1px rgba(0, 0, 0, 0.24);
		box-shadow: 4px 4px 33px -1px rgba(0, 0, 0, 0.24);
		transition: transform 0.5s linear;
		@media only screen and (max-width: 500px) {
			transform: scale(1.1);
		}
	}
	img:hover {
		transform: scale(1.1);
	}
}

.grow {
	animation: mainPlate ease-in-out 0.3s;
}

@keyframes mainPlate {
	0% {
		width: 0px;
	}
	100% {
		width: 250px;
	}
}

.foodTable-small-circle {
	position: relative;
	width: 500px;
	height: 500px;
	// transform: translate(0%, 250px) rotate(104deg);
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='500' ry='500' stroke='%23fff' stroke-width='6' stroke-dasharray='8%2c 24' stroke-linecap='butt'/%3e%3c/svg%3e");
	border-radius: 500px;
	transition: transform ease 0.5s;
}

.foodTable-smallplate {
	position: absolute;
	img {
		width: 100px;
		border-radius: 50%;
		-webkit-box-shadow: 4px 4px 33px -1px rgba(0, 0, 0, 0.14);
		-moz-box-shadow: 4px 4px 33px -1px rgba(0, 0, 0, 0.14);
		box-shadow: 4px 4px 33px -1px rgba(0, 0, 0, 0.14);
		@media only screen and (max-width: 600px) {
			transform: scale(1.4);
		}
	}
}

.plate-1 {
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
}

.plate-2 {
	top: 10%;
	right: 0%;
}

.plate-3 {
	top: 60%;
	right: 0%;
	transform: translate(50%, -40%);
}

.plate-4 {
	top: 85%;
	right: 20%;
}

.plate-5 {
	top: 85%;
	left: 18%;
}

.plate-6 {
	top: 60%;
	left: 0%;
	transform: translate(-50%, -40%);
}

.plate-7 {
	top: 8%;
	left: 1%;
}

.foodTable-navigate-right,
.foodTable-navigate-left {
	cursor: pointer;
	position: absolute;
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	right: -140px;
	transform: rotate(0deg);
	transition: transform 0.5s ease-in-out;
	@media only screen and (max-width: 600px) {
		transform: scale(1.5);
	}
	.MuiSvgIcon-root {
		font-size: 35px;
	}
	-webkit-box-shadow: 0px 0px 54px -20px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: 0px 0px 54px -20px rgba(0, 0, 0, 0.67);
	box-shadow: 0px 0px 54px -20px rgba(0, 0, 0, 0.67);
}

.foodTable-navigate-right:hover {
	transform: scale(1.1) rotate(90deg);
}

.foodTable-navigate-left {
	transform: rotate(180deg);
	@media only screen and (max-width: 600px) {
		transform: scale(1.5) rotate(180deg);
	}
	top: 50%;
	left: -140px;
}

.foodTable-navigate-left:hover {
	transform: rotate(90deg) scale(1.1);
	top: 50%;
	left: -140px;
}

.foodTable-discription {
	position: absolute;
	bottom: -50px;
	font-size: 22px;
	width: 380px;
	text-align: center;
	@media only screen and (max-width: 600px) {
		bottom: -70px;
		margin-top: 550px;
		transform: scale(1.5);
	}

	@media only screen and (max-width: 500px) {
		transform: scale(1.5);
	}
}

.menu-selected {
	padding-bottom: 3px;
	border-bottom: 2px solid rgb(255, 255, 255);
}
