.pokeCard-container {
	position: relative;
	width: 350px;
	height: 470px;
	border-radius: 15px;
	margin: 10px;
	margin-top: 75px;
	color: white;
	font-size: 18px;
	text-transform: capitalize;
	transition: transform ease 0.5s;
}

.pokeCard-container:hover {
	transform: scale(1.1);
	transition: transform ease 0.5s;
}

.pokemon-img-container {
	position: absolute;
	z-index: 999;
	top: -90px;
	width: 180px;
	left: 50%;
	transform: translate(-50%);
	transition: width ease 0.5s;
	img {
		transition: opacity ease 1s;
		width: inherit;
	}
}

.pokemon-img-container:hover {
	width: 250px;
	transition: width ease 1s;
}

.pokemon-id {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 0.6px;
}

.pokemon-types {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
}

.pokemon-type {
	background-color: rgba(255, 255, 255, 0.459);
	border-radius: 15px;
	margin-top: 5px;
	text-align: center;
	padding: 4px 7px;
}

.pokecard-header-container {
	height: 90px;
	margin-top: 75px;
	padding: 0px 15px;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
}

.pokecard-name {
	width: 100%;
	font-size: 30px;
	margin: 5px 0;
	font-weight: 600;
}

.pokecard-header-left,
.pokecard-header-right {
	width: 50%;
}

.pokecard-header-left {
	text-align: left;
}

.pokecard-header-right {
	text-align: right;
}

.pokemon-stat-container {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	padding: 0px 15px;
}

.pokemon-stats {
	margin: 2px 0;
}

.pokemon-stats-info {
	margin-bottom: 5px;
}

.pokemon-stat-bar::after {
	content: "";
	position: absolute;
	z-index: 0;
	width: 320px;
	background-color: #ffffff50;
	height: 5px;
	border-radius: 3px;
}

.pokemon-stats-number {
	float: right;
	color: white;
}
