.pokeCard-container {
	position: relative;
	width: 300px !important;
	height: 470px;
	border-radius: 15px;
	margin: 10px;
	margin-bottom: 120px;
	color: white;
	font-size: 18px;
	text-transform: capitalize;
	animation: fadeIn 1s linear;
	transition: transform ease 0.2s;
}

.pokeCard-container:hover {
	transform: scale(1.1);
	transition: transform ease 0.5s;
}

.pokemon-img-container {
	position: absolute;
	z-index: 999;
	top: -60px;
	width: 140px;
	left: 50%;
	transform: translate(-50%);
	transition: width ease 0.5s;
	img {
		transition: opacity ease 5s;
		width: inherit;
	}
}

.pokemon-loading {
	animation: spin 2s infinite;
}

.pokemon-img-container:hover {
	width: 200px;
	transition: width ease 1s;
}

.pokemon-id {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 0.6px;
}

.pokemon-types {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	font-weight: 500;
}

.pokemon-type {
	background-color: rgba(255, 255, 255, 0.418);
	border-radius: 15px;
	margin-top: 5px;
	text-align: center;
	padding: 4px 8px;
	font-size: 20px;
}

.pokecard-header-container {
	height: 90px;
	margin-top: 75px;
	padding: 0px 15px;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
}

.pokecard-name {
	width: 100%;
	font-size: 30px;
	margin: 5px 0;
	font-weight: 600;
}

.pokecard-header-left,
.pokecard-header-right {
	width: 50%;
}

.pokecard-header-left {
	text-align: left;
}

.pokecard-header-right {
	text-align: right;
}

.pokemon-stat-container {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	padding: 0px 15px;
}

.pokemon-stats {
	margin: 2px 0;
}

.pokemon-stats-info {
	margin-bottom: 5px;
}

.pokemon-stat-bar::after {
	content: "";
	position: absolute;
	z-index: 0;
	width: 320px;
	background-color: #ffffff50;
	height: 5px;
	border-radius: 3px;
}

.pokemon-stats-number {
	float: right;
	color: white;
}

@keyframes fadeIn {
	from {
		transform: scale(0.1);
		opacity: 0.3;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

// @keyframes spin {
// 	from {
// 		transform: rotate(0deg);
// 	}
// 	to {
// 		transform: rotate(360deg);
// 	}
// }
